:root{
    --accentColor:#9900CC;
    --onAccentColor:#ffffff;
}

.agendaFields{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.centerText{
  text-align: center;
}
/* Werknemer RoosterItems*/
.onAccent{
    color:var(--onAccentColor);
    fill:var(--onAccentColor)
}
