.agendaFields{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.centerText{
  text-align: center;
}
.dagFields{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.dagFields > div{
  flex: 1 1 100px;
}

