.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.LinebreakPrevent {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.Home {
  background: #eeeeee;
  align-content: center;
  justify-content: center;
}
.Home figcaption {
  color: white;
  background: #622081;
  font-weight: bold;
  padding: 10px;
  border-radius: 500px;
  margin: 10px;
}
.Home figure {
  background: white;
  border-radius: 20px;
}
.Home img {
  display: block;
  margin: auto;
}
